// Fonts
$Metal: 'Metal Mania', sans-serif;
$Lato: 'Lato', sans-serif;

// Colors
$blue-1: #001f36;
$blue-2: #00477c;
$blue-3: #000e27;
$blue-4: #597d8f;

$white-1: #383838;
$white-2: #fff;

$green-1: #004525;
$red-1: #b40000;
$purpure-1: #3b008d;
$yellow-1: #ffd046;

$black-1: #000;

// Other
$card-width: 260px;
$history-card-width: 200px;
